{% extends "base.njk" %}

{% block css %}
<style>
    .form {
        width: 60%;
        margin: auto;
        padding: 1em;
    }
</style>
{% endblock %}

{% block js %}
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/public/js/panel.js"></script>
{% endblock %}

{% block content %}
    <div class="tabs is-centered">
        <ul id="tabList">
            <li data-option="csv" class="is-active"><a href="javascript: useTab('csv');">CSV</a></li>
            <li data-option="api"><a href="javascript: useTab('api');">API</a></li>
        </ul>
    </div>

    <div id="csv" data-container>
        <form class="form" action="/api/csv" enctype="multipart/form-data" method="post">
            <div class="field">
                <label class="label" for="file">Subir archivo CSV</label>
                <input id="file" name="jumpseller" type="file" />
            </div>
            <div class="field">
                <input type="submit" class="button is-primary" value="Subir" />
            </div>
        </form>
    </div>

    <div id="api" data-container class="is-hidden">
        <div class="form">
            <div class="field">
                <label class="label"></label>
                <button class="button is-primary" onclick="sync()">Sincronizar Productos</button>
            </div>
            <div id="notifications" class="messages">
            </div>
        </div>
    </div>
{% endblock %}
