{% extends "base.njk" %}

{% block css %}
<style>
    .form {
        width: 60%;
        margin: auto;
        padding: 1em;
    }

    .fix-input {
        display: inline-block;
        position: relative;
        top: 10px;
    }
</style>
{% endblock %}

{% block js %}
<script>
    window.serializedContent = {{ serializedContent | safe }};
</script>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/public/js/panel.js"></script>
{% endblock %}

{% block content %}
    <div class="tabs is-centered">
        <ul id="tabList">
            <li data-option="api" class="is-active">
                <a data-section="api">API</a>
            </li>
            <li data-option="manager">
                <a data-section="manager">Administradores</a>
            </li>
        </ul>
    </div>

    <div id="api" data-container>
        <div class="form">
            <div class="field">
                <label class="label"></label>
                <button id="sync" class="button is-primary">Sincronizar Productos</button>
            </div>
            <div id="notifications" class="messages">
            </div>
        </div>
    </div>

    <div id="manager" data-container class="is-hidden">
        <div class="form">
            <div class="field">
                <label for="revenue" class="label">Ganancia Actual</label>
                <input id="revenue" type="text" class="control fix-input" />
                <button id="updateRevenue" class="button is-primary">Actualizar ganancia</button>
                <div id="revenueNotification" class="notification is-info is-hidden"></div>
            </div>
        </div>

        <div class="form">
            <table id="categoryList" class="table is-striped">
                <thead>
                    <tr>
                        <th>Nombre categoria</th>
                        <th>Alias de plataformas</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <button id="addNewCategoryButton" class="button is-default">Agregar nueva categoria</button>
            <button id="saveCategoriesButton" class="button is-primary">Guardar cambios</button>
        </div>
    </div>
{% endblock %}
